.cover-image{
    width: 800px;
    height: 500px;
}

.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.cover-text h1{
    color: blueviolet;
}
.cover-text h4{
    color: rgb(0, 0, 0);
    padding-right: 20px;
}


@media only screen and (max-width: 700px) {
    .cover-image{
        width: 400px;
        height: 400px;
    }
    
    .header-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 40px;
        border: 1px solid blueviolet;
        border-radius: 10px;
    }
    .cover-text h1{
        color: blueviolet;
        font-size: 25px;
    }
    .cover-text h4{
        color: rgb(0, 0, 0);
        padding-right: 0px;
    }
  }

  
@media only screen and (max-width: 1100px) {
    .cover-image{
        width: 400px;
        height: 400px;
    }
    
    .header-info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px;
        border: 1px solid blueviolet;
        border-radius: 10px;
    }

    .cover-text h1{
        color: blueviolet;
        font-size: 25px;
    }
  }


  .topics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 60px;
  }