.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    padding-left: 140px;
    padding-right: 140px;

    
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left: 36px;

}

.header a:hover{
    color: black;
}

@media only screen and (max-width: 700px) {
    .header{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background-color: blueviolet;
        color: white;
        padding-left: 20px;
        padding-right: 40px;
    
        
    }

    .header h1{
        font-size: 20px;
    }
  }

.active{
    background-color: aqua;
    padding: 5px;
    border-radius: 2px;
}